@import "react-input-range/lib/css/index.css";
@import "loaders.css/loaders.min.css";

/* Notifications */

#notification-container {
    position: fixed;
    bottom: 0;
    right: 0;
}

#notification-container .alert {
    position: relative;
    min-width: 220px;
    opacity: 1;
    animation: fadeIn ease-in 0.25s;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

div[id="notification-container"] {
    z-index: 5;
    margin: 20px;
}

/* Loaders */

.loader-container {
    display: inline-block;
    margin-left: 5px;
    padding: 15px;
    vertical-align: bottom;
}

.ball-scale-ripple-multiple > div {
    border-color: #000;
}

.ball-clip-rotate-pulse > div:first-child {
    background-color: #000;
}

.ball-clip-rotate-pulse > div:last-child {
    border-color: #000 transparent;
}

/* MonthPicker */

.month-picker.dropdown {
    display: block;
}

.month-picker .dropdown-toggle {
    display: block;
    text-decoration: none;
}

.month-picker .form-control[readonly] {
    background: #ffffff;
}

.month-picker-body {
    min-width: 260px;
    max-width: 320px;
}

.month-picker-header,
.month-picker-months {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.month-picker-header {
    padding: 6px 20px;
}

.month-picker-year {
    flex: 1;
    font-weight: 600;
    font-size: 1.25rem;
}

.month-picker-months {
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.month-picker-months li {
    width: 33.33%;
    margin: 0;
    padding: 6px;
    list-style: none;
}

.month-picker-months li a {
    display: block;
    padding: 10px 4px;
    border-radius: 3px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.month-picker-months li a:hover {
    background: rgba(0, 0, 0, .05);
}

.month-picker-months li a.active {
    text-decoration: none;
    background: #337ab7;
    color: #ffffff;
}
