.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.headline-title,
.section-headline {
    margin-top: 10px;
    margin-bottom: 10px;
}

.headline-title h1 {
    font-size: 30px;
    font-weight: 400;
}

.headline-actions {
    margin-left: 15px;
}