.markdown-content h2,
.markdown-content h3,
.markdown-content h4 {
  margin: 20px auto 10px;
}

.markdown-content p {
  margin: 8px auto 16px;
}

.loader > .loader-inner > div {
  background: #337ab7;
}

.github-button-wrapper {
  margin: 6px;
}
